<div class="grid">
  {(new Array(441)).fill(1).map(() => (
    <div class="cell" />
  ))}
</div>

<style lang="scss">
@import "../variables.scss";

.grid {
  @include square-canvas-child();
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  position: relative;
  overflow: visible;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
    border-top: calc(1em / 20) solid white;
    border-right: calc(1em / 20) solid white;
    border-bottom: calc(1em / 20) solid black;
    border-left: calc(1em / 20) solid black;
  }

  &:nth-child(3n) {
    &:before {
      border: 0;
    }
  }
}
</style>
