<link
  href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
  rel="stylesheet"
/>

<div class="wrapper">
  <div class="cassette">
    <div class="sticker">
      <div class="sticker-own-text">
        <input class="sticker-own-text-marker side-b" value=":)" />
        <input class="sticker-own-text-marker side-a" value="my mix vol. 3" />
      </div>
      <div class="sticker-side-letter"></div>
      <div class="sticker-length-info">
        <div class="sticker-length-info-sides"></div>
        <div class="sticker-length-info-total"></div>
      </div>

      <div class="sticker-hole-for-tape">
        <div class="gear left">
          <div class="gear-ring"></div>
          <div class="gear-teeth">
            <div class="gear-tooth"></div>
            <div class="gear-tooth"></div>
            <div class="gear-tooth"></div>
          </div>
        </div>
        <div class="gear right">
          <div class="gear-ring"></div>
          <div class="gear-teeth">
            <div class="gear-tooth"></div>
            <div class="gear-tooth"></div>
            <div class="gear-tooth"></div>
          </div>
        </div>

        <div class="tape-window">
          <div class="tape left"></div>
          <div class="tape right"></div>
        </div>
        <div class="measure">
          {new Array(11).fill(1).map(() => <div />)}
        </div>
      </div>
    </div>
    <div class="bottom-bulge">
      <div class="bottom-bulge-hole left round"></div>
      <div class="bottom-bulge-hole right round"></div>
      <div class="bottom-bulge-hole left square"></div>
      <div class="bottom-bulge-hole right square"></div>
    </div>
    <div class="screws">
      <div class="screw top left"></div>
      <div class="screw top right"></div>
      <div class="screw bottom left"></div>
      <div class="screw bottom right"></div>
      <div class="screw bottom middle"></div>
    </div>
  </div>
</div>

<style lang="scss">
  @use "sass:math";
  @import "../variables.scss";

  $background-color: white;
  $gear-color: #877c72;
  $body-color: #222;
  $pyramid-size: 0.012em;
  $paper-color: #f4f0e6;
  $text-color: $paper-color;
  $sticker-hole-for-tape-top: 33.33%;
  $sticker-hole-for-tape-height: 0.18em;
  $rotation-duration: 2s;
  $rotations-in-full-tape: 20;
  $marker-color: #233587;
  $tape-color: #59493a;

  .wrapper {
    @include square-canvas-child();
    position: relative;
    box-sizing: border-box;
    background-color: $background-color;
  }

  .cassette {
    background-size: 100%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 0;
    padding-top: 64%; // ~ 600 by 940
    background:
      linear-gradient(315deg, transparent 75%, lighten($body-color, 10) 0) #{-0.5 * -$pyramid-size}
        0,
      linear-gradient(45deg, transparent 75%, lighten($body-color, 10) 0) #{-0.5 * -$pyramid-size} 0,
      linear-gradient(135deg, lighten($body-color, 5) 50%, transparent 0) 0 0,
      linear-gradient(45deg, $body-color 50%, darken($body-color, 5) 0) 0 0 darken($body-color, 5);
    background-size: $pyramid-size $pyramid-size;
    border-radius: 0.03em;
    border: $pyramid-size solid darken($body-color, 2);
    box-shadow: 0 0.01em 0.02em rgba(black, 0.3);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 0.03em;
      background: linear-gradient(to bottom, rgba(white, 0.05), rgba(black, 0.05));
    }
  }

  .sticker {
    position: absolute;
    top: 0.05em;
    left: 0.055em;
    right: 0.055em;
    border-radius: 0.02em;
    border: $pyramid-size solid darken($body-color, 2);
    height: 0;
    padding-top: 41%; // ~ 380 by 840
    background-color: $accent;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(black, 0.1), rgba(black, 0.3));
    }

    .sticker-own-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: #{100% - $sticker-hole-for-tape-top};
      left: 0;
      background: $paper-color;
      z-index: 1;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0.03em;
        left: 0.03em;
        height: 0.002em;
        background: #222;
        z-index: 0;
      }

      &:before {
        top: 35%;
      }

      &:after {
        bottom: 25%;
      }

      .sticker-own-text-marker {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: rotate(3deg);
        text-align: center;
        font-family: "Permanent Marker", "Comic Sans MS", sans-serif;
        color: $marker-color;
        font-size: 0.07em;
        z-index: 1;
        appearance: none;
        border: 0;
        background: transparent;
        opacity: 0.85;
        animation-name: cassette-change-side-marker;
        animation-timing-function: steps(1, end);
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-duration: 2 * $rotation-duration * $rotations-in-full-tape;

        @keyframes cassette-change-side-marker {
          0% {
            opacity: 1;
            pointer-events: all;
          }
          50% {
            opacity: 0;
            pointer-events: none;
          }
        }

        &:focus {
          outline: 0;
        }

        &.side-b {
          animation-direction: reverse;
        }
      }
    }

    .sticker-side-letter {
      position: absolute;
      left: 2%;
      bottom: 18%;
      font-size: 0.12em;
      line-height: 1;
      font-family: "Arial", sans-serif;
      font-weight: bold;
      color: $text-color;

      &:before {
        display: block;
        content: "A";
        padding: 0 0.1em;
        border: 0.04em solid $text-color;
        border-radius: 0.04em;
        animation-name: cassette-change-side;
        animation-timing-function: steps(1, end);
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-duration: 2 * $rotation-duration * $rotations-in-full-tape;

        @keyframes cassette-change-side {
          0% {
            content: "A";
          }
          50% {
            content: "B";
          }
        }
      }
    }

    .sticker-length-info {
      position: absolute;
      right: 2%;
      bottom: -2%;
      line-height: 1;
      font-family: "Arial", sans-serif;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: baseline;
    }

    .sticker-length-info-sides {
      font-size: 0.03em;
      margin-right: 1em;
      font-weight: normal;

      &:before {
        content: "2 x 45 min";
      }
    }

    .sticker-length-info-total {
      font-size: 0.14em;

      &:before {
        content: "90";
      }
    }

    .sticker-hole-for-tape {
      position: absolute;
      background: $body-color;
      top: $sticker-hole-for-tape-top;
      left: 0.15em;
      right: 0.15em;
      height: $sticker-hole-for-tape-height;
      border-radius: $sticker-hole-for-tape-height;
      overflow: hidden;
      box-shadow: 0 0.001em 0.001em 0.001em rgba(white, 0.3);

      $gear-border-size: 0.002em;
      $gear-ring-size: 0.01em;
      .gear {
        $size: 0.12em;
        position: absolute;
        width: $size;
        height: $size;
        border-radius: $size;
        top: 50%;
        background: $gear-color;
        transform: translateY(-50%);
        overflow: hidden;
        box-shadow:
          -1px 1px 1px rgba(white, 0.3),
          1px -1px 1px rgba(black, 0.3);

        &.left {
          left: #{($sticker-hole-for-tape-height - $size) * 0.5};
        }
        &.right {
          right: #{($sticker-hole-for-tape-height - $size) * 0.5};
        }

        &:before {
          content: "";
          background: $background-color;
          position: absolute;
          top: $gear-ring-size;
          right: $gear-ring-size;
          bottom: $gear-ring-size;
          left: $gear-ring-size;
          border-radius: 50%;
          box-shadow: 0 0.01em 0.02em rgba(black, 0.3) inset;
        }
      }

      .gear-teeth {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: center;
        animation-name: cassette-rotate;
        animation-fill-mode: both;
        animation-duration: $rotation-duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes cassette-rotate {
          0% {
            transform: rotate(360deg);
          }

          100% {
            transform: rotate(0deg);
          }
        }
      }

      .gear-tooth {
        width: 0.015em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &:nth-child(2) {
          transform: translateX(-50%) rotate(120deg);
        }
        &:nth-child(3) {
          transform: translateX(-50%) rotate(-120deg);
        }

        &:before,
        &:after {
          position: absolute;
          left: 0;
          right: 0;
          content: "";
          display: block;
          background: rgba(darken($gear-color, 5), 0.8);
          height: 0.025em;
          border: $gear-border-size solid darken($gear-color, 5);
          z-index: -1;
        }

        &:before {
          top: -1 * $gear-border-size;
        }
        &:after {
          bottom: -1 * $gear-border-size;
        }
      }

      .gear-ring {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        border: $gear-ring-size solid $gear-color;
      }

      $tape-window-top: 0.02em;
      $tape-window-right: 0.18em;
      $tape-window-height: 0.08em;
      .tape-window {
        position: absolute;
        top: $tape-window-top;
        right: $tape-window-right;
        left: $tape-window-right;
        height: $tape-window-height;
        background: $background-color;
        overflow: hidden;
        border-radius: 0.005em;

        .tape {
          position: absolute;
          background: $tape-color;
          border-radius: 50%;
          height: 0;
          top: 0.5 * $tape-window-right - $tape-window-top;
          animation-name: cassette-rotate-tape;
          animation-fill-mode: both;
          animation-duration: $rotation-duration * $rotations-in-full-tape;
          animation-timing-function: steps(100);
          animation-iteration-count: infinite;

          &.left {
            left: -0.5 * $tape-window-right;
            transform: translate(-50%, -50%);
          }

          &.right {
            right: -0.5 * $tape-window-right;
            transform: translate(50%, -50%);
            animation-direction: reverse;
          }

          @keyframes cassette-rotate-tape {
            0% {
              width: 95%;
              padding: 95%;
            }

            100% {
              width: 50%;
              padding: 50%;
            }
          }
        }
      }

      .measure {
        position: absolute;
        top: #{$tape-window-top + $tape-window-height};
        height: $tape-window-height;
        left: #{0.005em + $tape-window-right};
        right: #{0.005em + $tape-window-right};

        > * {
          top: 0.01em;
          position: absolute;
          height: 0.015em;
          width: 0.003em;
          box-shadow:
            1px -1px 1px darken($body-color, 10),
            -1px 1px 1px lighten($body-color, 20);
          transform: translateX(-50%);

          &:nth-child(1),
          &:nth-child(6),
          &:nth-child(11) {
            height: 0.02em;

            &:before {
              position: absolute;
              top: 100%;
              text-shadow:
                1px -1px 1px darken($body-color, 10),
                -1px 1px 1px lighten($body-color, 20);
              font-size: 0.02em;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &:nth-child(1):before {
            content: "0";
          }
          &:nth-child(6):before {
            content: "50";
          }
          &:nth-child(11):before {
            content: "100";
          }

          @for $i from 0 through 10 {
            &:nth-child(#{$i + 1}) {
              left: #{$i * 10%};
            }
          }
        }
      }
    }
  }

  .bottom-bulge {
    position: absolute;
    bottom: 0;
    left: 0.2em;
    right: 0.2em;
    height: 0.15em;
    border-top: $pyramid-size solid darken($body-color, 2);

    // sides
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      border-left: $pyramid-size solid darken($body-color, 2);
      transform-origin: top right;
    }

    &:before {
      left: 0;
      transform: skew(-15deg);
    }

    &:after {
      right: 0;
      transform: skew(15deg);
    }

    .bottom-bulge-hole {
      $hole-size: 0.05em;
      position: absolute;
      border: 0.005em solid $body-color;
      width: $hole-size;
      height: $hole-size;

      &.round {
        border-radius: 50%;
        bottom: 0.005em;
      }

      &.square {
        border-radius: 30%;
        bottom: 0.03em;
      }

      &.round.left {
        left: 0.04em;
      }
      &.round.right {
        right: 0.04em;
      }
      &.square.left {
        left: 0.13em;
      }
      &.square.right {
        right: 0.13em;
      }

      &.left {
        box-shadow:
          0 0.01em 0.02em rgba(black, 0.3) inset,
          0.002em -1 * 0.005em 0 0.002em darken($body-color, 10) inset,
          0 0 0 $hole-size $background-color inset;
      }

      &.right {
        box-shadow:
          0 0.01em 0.02em rgba(black, 0.3) inset,
          -1 * 0.002em -1 * 0.005em 0 0.002em darken($body-color, 10) inset,
          0 0 0 $hole-size $background-color inset;
      }
    }
  }

  .screws {
    .screw {
      $size: 0.04em;
      width: $size;
      height: $size;
      background: radial-gradient(
        circle,
        lighten($body-color, 10) 35%,
        lighten($body-color, 20) 40%,
        darken($body-color, 5) 55%
      );
      border-radius: 50%;
      position: absolute;
      $margin: 0.005em;
      box-shadow: 0 0 0.005em 0.001em darken($body-color, 10);
      transform-origin: center;

      &.top {
        top: $margin;
      }
      &.bottom {
        bottom: $margin;
      }
      &.right {
        right: $margin;
      }
      &.left {
        left: $margin;
      }
      &.middle {
        bottom: 0.09em;
        left: 50%;
        transform: translateX(-50%);
      }

      // "randomize" rotation
      &:nth-child(1) {
        transform: rotate(10deg);
      }
      &:nth-child(2) {
        transform: rotate(-23deg);
      }
      &:nth-child(3) {
        transform: rotate(-7deg);
      }
      &:nth-child(4) {
        transform: rotate(45deg);
      }

      // "X"
      &:before,
      &:after {
        content: "";
        display: block;
        width: math.div($size, 6);
        height: 50%;
        background: darken($body-color, 10);
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        border-radius: math.div($size, 6);
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
</style>
