<div class="grid">
  <div class="sign">
    <div class="man">
      <div class="man-head"></div>
      <div class="man-upper-body">
        <div class="man-upper-body-right-upper-arm"></div>
        <div class="man-upper-body-right-forearm"></div>
        <div class="man-upper-body-left-upper-arm"></div>
        <div class="man-upper-body-left-forearm"></div>
        <div class="man-upper-body-left-forearm"></div>
        <div class="man-upper-body-chest"></div>
        <div class="man-upper-body-neck"></div>
      </div>
      <div class="man-torso"></div>
      <div class="man-lower-body">
        <div class="man-lower-body-right-thigh"></div>
        <div class="man-lower-body-right-calf"></div>
        <div class="man-lower-body-left-thigh"></div>
        <div class="man-lower-body-left-calf"></div>
      </div>
    </div>
    <div class="arrow">
      <div class="arrow-body"></div>
      <div class="arrow-tip-top"></div>
      <div class="arrow-tip-bottom"></div>
    </div>
    <div class="door"></div>
  </div>
</div>

<style lang="scss">
  @use "sass:math";
  @import "../variables.scss";

  .grid {
    @include square-canvas-child();
  }

  img,
  .sign {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
    filter: hue-rotate(-200deg);
  }

  $height: 240;
  $width: 480;

  .sign {
    aspect-ratio: #{$width} / #{$height};
    background-color: $accent;

    &::before {
      content: "";
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      background-color: white;
      background-image: radial-gradient(
          circle at 50% 66.67%,
          transparent 8.8388347797%,
          black 8.8388347797%,
          black 17.6776695593%,
          transparent 17.6776695593%
        ),
        radial-gradient(
          at 50% 50%,
          transparent 53.033008678%,
          black 53.033008678%,
          black 61.8718434576%,
          transparent 61.8718434576%
        ),
        radial-gradient(circle at 62.5% 37.5%, black 7.0710678237%, transparent 7.0710678237%),
        radial-gradient(circle at 37.5% 37.5%, black 7.0710678237%, transparent 7.0710678237%);
      background-size: 32px 32px;
      background-position: center;
      mix-blend-mode: overlay;
      transform: rotate(32deg);
    }
  }

  .man {
    position: absolute;
    top: 11%;
    bottom: 11%;
    left: 4.5%;
    width: 32%;
  }

  .man-head {
    position: absolute;
    top: 0;
    right: 14%;
    width: 23%;
    aspect-ratio: 1/1;
    background: white;
    border-radius: 50%;
  }

  .man-upper-body {
    position: absolute;
    top: 12.5%;
    left: 0;
    right: 0;
    height: 35.5%;
    mix-blend-mode: lighten;
  }

  .man-upper-body-neck {
    position: absolute;
    top: -42%;
    right: 10%;
    width: 30.5%;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 50%;
    mix-blend-mode: darken;
  }

  .man-upper-body-right-upper-arm {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 21.15%;
    width: 10.6%;
    background: white;
  }

  .man-upper-body-right-forearm {
    position: absolute;
    top: 75%;
    bottom: 0;
    right: 0;
    width: 30%;
    background: white;
  }

  .man-upper-body-left-upper-arm {
    position: absolute;
    top: 0;
    right: 21.15%;
    height: 24%;
    width: 50%;
    background: white;
  }

  .man-upper-body-left-forearm {
    position: absolute;
    top: 0;
    left: 29%;
    height: 72%;
    width: 10%;
    background: white;
    transform-origin: top left;
    transform: rotate(32deg);
  }

  .man-upper-body-chest {
    position: absolute;
    top: 0;
    left: 54%;
    right: 31.15%;
    height: 50%;
    background: white;
  }

  .man-torso {
    position: absolute;
    top: 20%;
    right: 23.5%;
    width: 22.3%;
    height: 36.5%;
    background: white;
    transform-origin: top left;
    transform: rotate(32deg);
  }

  .man-lower-body {
    position: absolute;
    bottom: 0;
    right: 21.5%;
    left: 0;
    height: 49%;
  }

  .man-lower-body-right-thigh {
    position: absolute;
    top: 29.4%;
    right: 0;
    height: 18%;
    width: 50%;
    background: white;
    transform-origin: top right;
    transform: rotate(32deg);
  }

  .man-lower-body-right-calf {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70.5%;
    width: 13.8%;
    background: white;
  }

  .man-lower-body-left-thigh {
    position: absolute;
    top: 0;
    bottom: 29%;
    left: 39.1%;
    right: 47%;
    background: white;
  }
  .man-lower-body-left-calf {
    position: absolute;
    bottom: 29%;
    left: 0;
    height: 18%;
    right: 47%;
    background: white;
  }

  .door {
    position: absolute;
    top: 11%;
    bottom: 11%;
    right: 5.5%;
    width: 21.5%;
    background: white;
  }

  .arrow {
    position: absolute;
    top: 32.5%;
    bottom: 32.5%;
    right: 30.5%;
    left: 40.5%;
    overflow: hidden;
  }

  .arrow-body {
    position: absolute;
    top: 37%;
    bottom: 37%;
    right: 15%;
    left: 0;
    background: white;
  }

  .arrow-tip-top,
  .arrow-tip-bottom {
    position: absolute;
    right: 0;
    left: 77%;
    background: white;
  }

  .arrow-tip-top {
    top: 0;
    bottom: 49.4%;
    transform-origin: bottom right;
    transform: skew(45deg) translateX(1px);
  }

  .arrow-tip-bottom {
    top: 49.4%;
    bottom: 0;
    transform-origin: top right;
    transform: skew(-45deg) translateX(1px);
  }
</style>
