---
interface Props {
  title: string;
  date: string;
}

const { date, title } = Astro.props;
---

<div class="canvas-wrapper">
  <div class="canvas">
    <slot />
    <div class="title">
      <strong>{title}</strong> [{date}]
    </div>
  </div>
</div>

<style lang="scss">
  @import "../variables.scss";

  .canvas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .canvas {
    $width: calc(#{100dvw - 2 * $grid-side-column-width} - #{2 * $grid-column-gap});
    $height: calc(100dvh - 2 * $grid-column-gap);
    width: min($width, $height);
    font-size: min($width, $height);
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;

    @media screen and (max-width: $mobile-max-width) {
      $width: 90dvw;
      width: $width;
      font-size: $width;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      margin: 20px auto 80px auto;
    }
  }

  .title {
    position: absolute;
    font-size: 1rem;
    top: calc(100% + 0.5rem);
    right: 0;
    background: white;

    @media screen and (max-width: $mobile-max-width) {
      position: relative;
      right: 0;
      top: 0;
      text-align: right;
      width: 90vw !important;
      margin: 20px auto;
    }
  }
</style>
